<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Item & Featured</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="viewMode">
      <ion-segment-button value="add">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>ADD ITEM</ion-label>
      </ion-segment-button>
      <ion-segment-button value="featured">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>FEATURED</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="viewMode === 'add'">
    <h3>Add New Inventory Item</h3>
    <ion-list>
      <ion-item><ion-label position="stacked">Item Name *</ion-label><ion-input [(ngModel)]="newItem.item_name"></ion-input></ion-item>
      <ion-item>
        <ion-label position="stacked">Category *</ion-label>
        <ion-select [(ngModel)]="newItem.category">
          <ion-select-option value="Electronics">Electronics</ion-select-option>
          <ion-select-option value="Furniture">Furniture</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-list>
    <ion-button expand="block" (click)="onAdd()">+ ADD ITEM</ion-button>
  </div>

  <div *ngIf="viewMode === 'featured'">
    <ion-card *ngFor="let f of featuredItems">
      <ion-card-header>
        <ion-card-title>{{ f.item_name }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>