<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update / Delete Item</ion-title>
    <ion-button slot="end" fill="clear">Help</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Search Form -->
  <form [formGroup]="searchForm">
    <ion-list>
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Search Item Name</ion-label>
        <ion-input formControlName="name" placeholder="Enter exact item name"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="primary" expand="block" (click)="searchItem()" class="ion-margin-bottom">
      Search Item
    </ion-button>
  </form>

  <!-- Item Edit Form -->
  <div *ngIf="itemFound" class="ion-margin-top">
    <form [formGroup]="itemForm">
      <ion-list>
        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Item Name</ion-label>
          <ion-input formControlName="name" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Category</ion-label>
          <ion-select formControlName="category">
            <ion-select-option value="Electronics">Electronics</ion-select-option>
            <ion-select-option value="Furniture">Furniture</ion-select-option>
            <ion-select-option value="Clothing">Clothing</ion-select-option>
            <ion-select-option value="Tools">Tools</ion-select-option>
            <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Quantity</ion-label>
          <ion-input type="number" formControlName="quantity"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Price</ion-label>
          <ion-input type="number" formControlName="price"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Supplier</ion-label>
          <ion-input formControlName="supplier" placeholder="Supplier name"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button color="primary" expand="block" (click)="updateItem()" class="ion-margin-top">
        Update Item
      </ion-button>

      <ion-button color="danger" expand="block" (click)="deleteItem()" class="ion-margin-top">
        Delete Item
      </ion-button>
    </form>
  </div>
</ion-content>